[project]
	description = The C++ Network Library Project -- cross-platform, standards compliant networking library.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roman-Bober
[access "refs/for/refs/*"]
	read = group user/Roman-Bober
	push = group user/Roman-Bober
	label-Code-Review = -2..+2 group user/Roman-Bober
	label-Verified = -1..+1 group user/Roman-Bober
	rebase = group user/Roman-Bober
	removeReviewer = group user/Roman-Bober
	submit = group user/Roman-Bober
[access "refs/heads/*"]
	read = group user/Roman-Bober
	create = group user/Roman-Bober
	push = +force group user/Roman-Bober
	pushMerge = group user/Roman-Bober
[access "refs/tags/*"]
	push = +force group user/Roman-Bober
	pushTag = group user/Roman-Bober
	pushSignedTag = group user/Roman-Bober
